<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717717386752-c51fafed0d89915v30uitt2qgthpufi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717717386752-c51fafed0d89915v30uitt2qgthpufi8</string>
	<key>API_KEY</key>
	<string>AIzaSyCtB1p28hA2Exaw1Es3wizmDjdAl71S-TM</string>
	<key>GCM_SENDER_ID</key>
	<string>717717386752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>delta.Crashlytics-Demo</string>
	<key>PROJECT_ID</key>
	<string>fir-app-3de60</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-3de60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717717386752:ios:32dbc652bdcda7ffb10ae5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-3de60.firebaseio.com</string>
</dict>
</plist>